input {text-indent: 0.5em}
select {text-indent: 0.3em}
input.required, select.required {background-image: url(/static/img/exclamation_lgRed.gif); background-repeat: no-repeat; background-position: 0.3em center;}
textarea.required {background: #FFF url(/static/img/exclamation_lgRed.gif) no-repeat left 3px;}

.input-loading {
    background-image: url(/static/img/loading.gif);
    background-repeat: no-repeat;
    background-position: 98% center;
}

.hide {
    display: none;
}

.controls .help-inline, {
    padding-right: 5px;
}

.controls .hint-inline, #cep_not_found {
    border: 1px solid #EEE;
    background-color: white;
}