input {text-indent: 0.5em}
select {text-indent: 0.3em}
input.required, select.required {background-image: url(/static/img/asterisk_lgRed.gif); background-repeat: no-repeat; background-position: 0.3em center;}
textarea.required {background: #FFF url(/static/img/exclamation_lgRed.gif) no-repeat left 3px;}

.input-loading {
    background-image: url(/static/img/loading.gif);
    background-repeat: no-repeat;
    background-position: 98% center;
}

select, .input-loading {
    background-position: 94% center;
}

.hide {
    display: none;
}

.controls .help-inline, {
    padding-right: 5px;
}

.controls .hint-inline, #cep_not_found {
    border: 1px solid #EEE;
    background-color: white;
}

#elm_car_plate {
    text-transform: uppercase;
}

#x-container {
    display: inline-block;
    position: relative;
    width: 100%;
}

#x-container .x-dummy {
    padding-top: 50%; /* 4:3 aspect ratio */
}

#x-container .x-element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: silver /* show me! */

}