<div class="masthead">
<h3 class="muted">Project name</h3>
    <div class="navbar">
        <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
            <li [% IF "/${c_req_path}" == '/' %]class="active"[%END%]><a href="/">Home</a></li>
            <li [% IF "/${c_req_path}" == '/cadastro' %]class="active"[%END%]><a href="/cadastro">Cadastro</a></li>

            <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
</div>