[%IF select_states.size > 0%]
	<div class="form-group">
		[%select_field('state_id','Escolha o estado', array => select_states, req=>0)|none%]
	</div>
[%END%]
[%IF select_cities.size > 0%]
	<div class="form-group">
		[%select_field('city_id','Escolha a cidade', array => select_cities, req=>0)|none%]
	</div>
[%END%]
<div class="form-group">
	[%input_text('year','Ano eleitoral', req=>1)|none%]
</div>