    <div class="page-header bg-dark">
        <h3>Assistente para criação de rotas</h3>
        <p></p>
    </div>

	<div class="row page-content">
		[%INCLUDE 'user/route/add.tt' NO_TITLE=>1%]
	</div>