<dl>
<dt>Nome</dt>
<dd>[%driver.name%] [%driver.last_name%]</dd>

<dt>Data de nascimento</dt>
<dd>[%driver.birth_date%]</dd>

<dt>CPF</dt>
<dd>[%driver.cpf%]</dd>

<dt>CNH</dt>
<dd>[%driver.cnh_code%]</dd>

<dt>Primeira carta</dt>
<dd>[%driver.first_driver_license%]</dd>


</dl>