[%IF main_view%]
[%INCLUDE "user/dashboard/$main_view"%]
[%ELSE%]
<dl>
<dt>Status</dt>
<dd>Carro fora de campanha</dd>

<dt>Status do dispositivo</dt>
<dd>instalado</dd>

[vehicles.0.name]
</dl>
[%END%]