[%IF main_view%]
	[%INCLUDE "user/dashboard/$main_view"%]
[%ELSE%]
	<div class="page-header bg-dark">
		<h3>Status da sua conta</h3>
	</div>
	<div class="row page-content">
		<dl>
		<dt>Status</dt>
		<dd>Carro fora de campanha</dd>

		<dt>Status do dispositivo</dt>
		<dd>instalado</dd>

		<dt>Veículo</dt>
		<dd>[%vehicles.0.model.name%] - [%vehicles.0.model.id%]</dd>
		</dl>
	</div>
[%END%]